body {
    background-image: url('/fondo.png');
    background-repeat: repeat;
    padding-top: 5%;
    font-family: 'Arial', sans-serif;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

#glossary {
    margin-left: 20%;
    margin-top: 3%;
}

#glossary div {
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5rem;
    color: #555; 
}

p {
    font-size: 1.2rem;
    color: #000; 
}
.creador{
    margin-left: 20%; 
    margin-top: 3%;
}

