body {
    background-image: url('/fondo.png');
    background-repeat: repeat;
    padding-top: 5%;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

#glossary {
    display: flex; /* Añadir flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    margin-top: 3%;
    margin-left: 10;
}

#glossary-container {
    margin: 30px auto; /* Espacio en la parte superior e inferior, y centrar horizontalmente */
    width: 80%; /* Ancho del contenedor de la tabla */
}

h3 {
    font-size: 1.5rem;
    color: #555; 
}

p {
    font-size: 1.2rem;
    color: #000; 
}

.creador {
    text-align: center; /* Centrar el formulario */
    margin-top: 3%;
}

/* Estilos de la tabla */
table {
    margin: 0 auto; /* Centrar la tabla */
    margin-bottom: 30px; /* Espacio al final de la tabla */
    background-color: white; /* Color de fondo blanco para la tabla */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    width: 100%; /* Ancho de la tabla */
}

th { 
    text-align: left; /* Alinear texto de encabezados a la izquierda */
    padding: 10px; /* Añadir padding para un mejor aspecto */
    background-color: #f2f2f2; /* Color de fondo para encabezados */
}

td {
    padding: 10px; /* Añadir padding para celdas */
    border-bottom: 1px solid #ddd; /* Línea divisoria para las filas */
}
